.float-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--primaryColorHover);
    color: #ffffff;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 1rem;

    img{
        filter: invert(100%);
        padding-right: 1rem;
        height: 20.5px;
    }

    a{
        color:#FEF7FB;
        font-weight: 600;
    }
}

.float-button:hover {
    a{
        opacity: 80%;
    }
    
    background-color: var(--primaryColor600);
    transition: 0.3s;
}