.hero-nosotras {
    background-image: url(../assets/nosotras.jpg);
    background-position: 45% 40%;
    background-size: cover;
    height: 30vh;
    padding: 0 0;
}

.main-nosotras {
    padding: 0 0;

    .main-about-nosotras {
        padding: 2rem 1rem;

        h1 {
            font-size: 2.5rem;
            color: var(--grey-55);
        }

        p {
            font-size: 1rem;
            margin: 15px 0;
            color: var(--black);
            font-weight: 400;

            span {
                font-weight: 600;
            }
        }
    }

    .grid-container{
        display: none;
    }

    .slider {

        @mixin white-gradient {
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }

        $animationSpeed: 40s;

        // Styling
        background: white;
        margin: auto;
        overflow:hidden;
        position: relative;

        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 100%;
            position: absolute;
            width: 50px;
            z-index: 2;
        }

        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        &::before {
            left: 0;
            top: 0;
        }

        // Animation
        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(calc(-225px * 4))
            }
        }

        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(225px * 8);

            .slide {
                padding: 0 0rem;
                width: 100%;

                img {
                    height: 201px;
                }

                span {
                    font-size: .875rem;
                    color: var(--primaryColor600);
                    font-weight: 600;
                }

                p {
                    font-size: .875rem;
                    font-weight: 400;
                }
            }
        }
    }

    .mision-nosotras-container {
        padding: 2rem 1rem;

        .mision-nosotras {
            h3 {
                background: linear-gradient(var(--primaryColor600), var(--red));
                background-clip: unset;
                -webkit-background-clip: text;
                color: transparent;
            }
        }

        .mision-ver-mas-btn {
            padding: 1rem 0rem;
            color: var(--primaryColor600);
            text-align: center;

            a {
                font-size: 1rem;
                ;
                font-weight: 500;
                letter-spacing: 0.5px;

                i {
                    margin-left: 1rem;
                }
            }

            a:hover {
                background-color: var(--primaryColor50);
                color: var(--primaryColor600);
            }
        }
    }

    .main-valores {
        padding: 2rem 1rem;
        background-color: var(--primaryColor50);

        h4 {
            color: var(--grey-55)
        }

        h2 {
            color: var(--red);
            font-size: 2rem;
        }

        .single-valor {
            padding: 1rem;
            background-color: white;
            border-radius: 5%;
            margin: 3rem 0rem;

            .title {
                padding-bottom: 1rem;

                h4 {
                    color: var(--red);
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 0.5px;
                }
            }

            p {
                font-size: 1.3rem;
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 0.5px;
            }
        }
    }
}

@media screen and (min-width:768px){
    .hero-nosotras {
        background-position: 75% 45%;
        height: 360px;
    }

    .main-nosotras{
        .main-about-nosotras{
            text-align: center;
            padding: 2.5rem 7.90rem 2.5rem 7.90rem;
        }

        .main-nosotras-carousel{
            .mision-nosotras-container{
                padding-left: 6.75rem ;
                padding-right: 6.75rem ;
            }
        }

        .main-valores{
            padding: 3.25rem 3.75rem;

            .valores-header{
                padding-bottom: 1rem;
                h2{
                    max-width: 55%;
                }
            }

            .single-valor{
                margin: 2rem 6rem;
                padding: 1rem 1rem;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .main-nosotras{
        .main-about-nosotras{
            text-align: center;
            padding: 3.5rem 24.84rem 3.5rem 24.84rem;
        }

        .main-nosotras-carousel{
            .slider{
                display: none;
            }

            .grid-container{
                padding:2rem 6rem 4rem;
                display: flex;
                justify-content: space-around;

                .single-member {
                    padding: 0 0rem;
                    width: 225px;
    
                    img {
                        height: 201px;
                    }
    
                    span {
                        font-size: .875rem;
                        color: var(--primaryColor600);
                        font-weight: 600;
                    }
    
                    p {
                        font-size: .875rem;
                        font-weight: 400;
                    }
                }
            }

            .mision-nosotras-container{
                padding-left: 24.37rem ;
                padding-right: 24.37rem ;
            }
        }

        .main-valores{
            padding: 2rem 10rem 6rem;

            .valores-header{
                padding-bottom: 3.5rem;
                h2{
                    max-width: 40%;
                }
            }

            .single-valor-wrapper {
                display: grid;
                grid-template-columns: 33.33% 33.33% 33.33%;

                .single-valor {
                    margin: 0rem 1.5rem 1rem;
                }
            }
        }
    }
}
