.hero-novedades {
    background-image: url(../assets/novedades.jpg);
    background-position: 45% 80%;
    background-size: cover;
    height: 40vh;
    padding: 0 0;
}

.main-novedades {
    padding: 0 0;

    .main-novedades-text {
        padding: 2rem 1rem;

        h1 {
            font-size: 2.8rem;
            color: var(--black);
        }

        p {
            font-size: 1.3rem;
            margin: 15px 0;
            color: var(--grey-55);
        }

        i {
            margin-left: 1rem;
        }
    }

    .novedades-container {
        padding: .5rem .5rem;

        .post {
            margin: .2rem auto;
            padding: .2rem;
            border-radius: .5rem;
            max-width: 90%;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 1rem;
        }

        .loader {
            display: none;
            margin: 2rem auto;
        }

        .post-author {
            font-size: small;
            padding: .2rem 0rem;
            color: var(--primaryColor600)
        }

        .post-excerpt {
            text-align: left;
            padding: .2rem 0rem;
            color: var(--grey-55);
        }

        .post-content {
            text-align: left;
            padding: 1rem 0rem;

            img {
                display: block;
                margin: auto;
            }

            i {
                margin-left: .5rem;
            }
        }

        .post-title {
            padding: .2rem 0rem;
            font-weight: bold;
        }

        .module-separator {
            border-top: 1px solid black;
            height: 2px;
            padding: 0;
            margin: 20px auto 0 auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    .hero-novedades {
        background-position:center;
        height: 360px;
    }

    .main-novedades{
        padding: 2rem 3.75rem 2rem 3.75rem;
    }
}

@media only screen and (min-width: 1024px) {
    .main-novedades{
        padding: 3.5rem 10rem 3.5rem 10rem;
    }
}
