.main-queHacemos {
    .frontpage {
        background-image: url(../assets/que-hacemos-frontpage.jpg);
        background-position: center;
        background-size: cover;
        height: 40vh;
        width: 100%;
    }
}

.description {
    padding: 2rem 1rem;

    h1 {
        font-size: 2em;
    }

    p {
        font-weight: 400;
    }
}

.main-pilares {
    background-color: var(--primaryColor50);
    padding: 1em .8em;

    h3 {
        color: var(--black);
    }

    .pilar {
        background-color: #fff;
        margin: 24px 0;
        padding: .8em;
        border-radius: 10px;

        h5 {
            background: linear-gradient(var(--primaryColor600), var(--red));
            background-clip: unset;
            -webkit-background-clip: text;
            color: transparent;
        }

        p {
            font-weight: 400;
        }

        span,
        ul {
            color: var(--grey-55);
            font-weight: 400;
        }

        ul {
            list-style: disc;
        }
    }
}

.main-proyectoJuanPablo {
    .proyectoJuanPablo-description {
        padding: .8em;

        h2 {
            color: var(--primaryColor600);
            font-weight: 500;
            width: 70%;
        }

        p {
            color: var(--grey-55);
            font-weight: 500;
            padding: 0;
        }
    }

    .img {
        background-image: url(../assets/juan-pablo-2do.jpg);
        width: 100%;
        height: 321px;
        background-size: cover;
        background-position-y: 65%;
    }

    .stats-container {
        color: var(--red);
        margin: .8em;
        padding: .8em;
        border-left: 5px solid var(--red);

        span {
            font-weight: 500;
            font-size: 1.2em;
        }

        .stats {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 24px;

            div {
                display: flex;
                flex-direction: column;
            }

            .num {
                line-height: 1;
                font-size: 4em;
            }

            .title {
                font-weight: 700;
            }
        }
    }

    .text{
        padding: 1rem;
        
        p {
            color: var(--grey-55);
        }
    }


}

.support {
    background-image: url(../assets/support.jpg);
    background-size: cover;
    background-position: 30%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    div {
        background: linear-gradient(transparent, #000d 30%);
        height: 25vh;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: end;

        p{
            color: #fff;
            background-color: rgba(0, 0, 0, 0.096);
        }

        h2 {
            color: #fff;
            font-size: 1.8rem;
            font-weight: 700;
        }

        button {
            width: 100%;
        }
    }
}

@media screen and (min-width:768px) {
    .main-queHacemos {
        .frontpage {
            height: 360px;
            background-position-y: 20%;
        }

        .description {
            height: 348px;
            padding: 40px 60px 56px 60px;
        }

        .main-pilares {
            padding: 40px 140px 40px 140px;
        }

        .main-proyectoJuanPablo {
            .proyectoJuanPablo-description {
                padding-left: 60px;
            }

            .img {
                background-image: url(../assets/juan-pablo-2do.jpg);
                height: 321px;
                background-size: cover;
                background-position-y: 65%;
            }

            .juanPablo-stats {
                padding: 24px 60px;
                display: grid;
                grid-template-columns: 1fr 250px;
                grid-template-rows: unset;

                p {
                    order: 1;
                }

                .stats-container {
                    order: 2;
                    padding-top: 0;

                    .stats {
                        font-size: .8rem;
                        display: grid;
                        grid-template-rows: repeat(3, 1fr);
                        gap: 30px;
                    }
                }
            }
        }

        .support {
            background-position-y: 50%;
            height: 500px;

            div {
                padding: 0px 128px 32px 128px;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    color: #fff;
                    margin: 0;
                    font-family: Inter;
                    font-size: 24px;
                    font-weight: 400;
                    text-align: center;
                }

                a {
                    margin-top: 25px;
                    width: 306px;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .main-queHacemos {
        .description {
            height: unset;
            padding: 56px 160px;

            .text {
                display: flex;
            }
        }

        .main-pilares .pilar-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            img {
                height: 60px;
            }
        }

        .main-proyectoJuanPablo {
            padding: 100px 160px;

            .img{
                background-position-y: 45%;
            }

            .proyectoJuanPablo-description {
                padding: 0;
                width: 60%;
            }
        }

        .support {
            height: 80vh;
            background-size: cover;
            background-position-y: 50%;

            div {
                background: linear-gradient(transparent, #000d 40%);
                height: 60%;

                a {
                    margin-top: 0;
                    margin-bottom: 40px;
                    width: 306px;
                }
            }
        }
    }
}