.main-voluntariado {
    .frontpage {
        background-image: url(../assets/voluntariado-frontpage.jpg);
        background-position: 100% 85%;
        background-size: cover;
        height: 40vh;
        width: 100%;
    }

    .description {
        padding: 1em .8em;

        p {
            font-weight: 500;
        }
    }

    .main-testimonials {
        padding: 1rem;

        .testimonio{
            font-size: .75rem;
        }
    }

    .main-colabora {
        background-color: var(--primaryColor50);
        padding: .8em;

        h2 {
            background: linear-gradient(var(--primaryColor600), var(--red));
            background-clip: unset;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 2em;
        }

        p {
            color: var(--grey-55);
            font-size: 1.2em;
        }

        h4 {
            font-weight: 400;
        }

        .cards-container {
            height: 80%;

            div {
                background-color: #fff;
                margin: 1em 0;
                border-radius: 10px;
                padding: .8em;

                h4 {
                    color: var(--primaryColor600);
                }

                p {
                    color: #000;
                    font-size: 1em;
                }
            }
        }
    }

    .main-form {
        padding: .8em;

        h2 {
            font-size: 2em;
            margin: .8em 0;
        }

        p {
            background: linear-gradient(var(--primaryColor600), var(--red));
            background-clip: unset;
            -webkit-background-clip: text;
            color: transparent;
            font-size: 1.2em;
            width: 75%;
        }

        form {
            display: flex;
            flex-direction: column;

            span {
                font-family: var(--bodyFont);
                font-weight: 600;

                b {
                    color: #f00;
                }
            }

            input {
                font-size: 1.2em;
                margin-bottom: .8em;
                padding: 0 .2em;
                // border: 3px solid var(--grey-30);
                border-radius: 5px;
                outline: none;
            }

            textarea {
                font-size: 1.2em;
                margin-bottom: .8em;
                padding: 0 .2em;
                // border: 3px solid var(--grey-30);
                border-radius: 5px;
                outline: none;
            }

            button{
                width: 100%;
            }
        }
    }

    .voluntariado-banner {
        background-image: url(../assets/empresa-foto-form.jpg);
        display: none;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 10rem;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */

        /* Modal Content */
        .modal-content {
            background-color: var(--grey-2);
            margin: auto;
            padding: 1rem;
            border: 1px solid var(--grey-55);
            width: 80%;
            text-align: center;

            p {
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main-voluntariado {
        .frontpage {
            height: 360px;
        }

        .description {
            padding: 32px 60px;

            p {
                margin-bottom: 10px;
            }
        }

        .main-testimonials {
            padding: 45px 60px;

            .carousel {
                height: 25vh;
                display: flex;
                justify-content: center;

                .carousel-inner {

                    .carousel-sub-item {
                        display: flex;

                        .testimonio-header {
                            width: 30%;
                            display: flex;
                            flex-direction: column;

                            img {
                                height: 10rem;
                                width: 10rem;
                            }
                        }

                        .testimonio {
                            width: 70%;
                            padding: 0;
                            font-size: .82rem;
                        }
                    }
                }
            }
        }

        .main-colabora {
            padding: 80px 60px;

            .cards-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        .main-form {
            padding: 55px 140px;
        }

        .voluntariado-banner {
            width: 100%;
            height: 444px;
            display: block;
            background-size: cover;
            background-position-y: 50%;
        }

        .modal {
            .modal-content {
                width: 40%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main-voluntariado {
        .description {
            padding: 55px 160px;
        }

        .main-testimonials {
            padding: 50px 160px;

            .carousel {
                height: 35vh;
            }

            .testimonio{
                font-size: 1rem !important;
            }
        }

        .main-colabora {
            padding: 80px 160px;

            h2 {
                font-weight: 700;
            }

            .sub {
                width: 30%;
            }

            .cards-container {
                gap: 40px;
                padding: 0 64px;
            }
        }

        .end-container {
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .main-form {
                padding: 120px 95px 64px 160px;

                h2 {
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 40px;
                }

                p {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 32px;
                }

                form textarea {
                    font-size: 1rem;
                    height: 20vh;
                }

                form button {
                    width: 50%;
                    margin-left: 50%;
                }
            }

            .voluntariado-banner {
                height: unset;
                background-repeat: no-repeat;
                background-position-x: 30%;
            }
        }

        .modal {
            .modal-content {
                width: 40%;
            }
        }
    }
}