*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

:root {
    --primaryColorHover: #DA0068;
    /*var(--primaryColorHover)*/
    --primaryColor600: #E5006D;
    /*var(--primaryColor600)*/
    --primaryColor300: #FF479F;
    /*var(--primaryColor300)*/
    --primaryColor100: #FEECF4;
    /*var(--primaryColor100)*/
    --primaryColor50: #FEFAFC;
    /*var(--primaryColor50)*/
    --mainSpacing: 0.1rem;
    /*var(--mainSpacing)*/
    --mainTransition: all 0.3s linear;
    /*var(--mainTransition)*/
    /* grey */
    --grey-55: #747474;
    /*var(--grey-55)*/
    --grey-30: #B3B3B3;
    /*var(--grey-30)*/
    --grey-2: #FAFAFA;
    /*var(--grey-2)*/
    /* rest of the colors */
    --black: #010101;
    /*var(--black)*/
    --blue: #2F52A0;
    /*var(--blue)*/
    --red: #E6332F;
    /*var(--red)*/
    /* fonts  */
    --headingFont: 'Inter', sans-serif;
    --bodyFont: 'Inter', sans-serif;
    --smallText: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-2);
    --textColor: var(--grey-55);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
    --fluid-width: 90vw;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

a {
    color: var(--primaryColor600);
    transition: all .3s ease-out;
    text-decoration: none;

    &:hover {
        opacity: .75;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: var(--grey-55);
    font-size: 2em;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h3 {
    color: var(--primaryColor600);
    font-family: 'Inter', sans-serif;
}

a.actual-page {
    color: var(--primaryColor600) !important;
}

ul {
    list-style: none;
}

p {
    font-family: 'Inter', sans-serif;
    color: var(--black);
    font-weight: 400;
}

/* --------------- Hero ---------------- */
.hero {
    background-image: url(../assets/Hero.jpg);
    background-position: 45% 45%;
    background-size: 190%;
    height: 40vh;
    padding: 0 0;

    div {
        height: 100%;
        text-align: center;
        display: flex;
        align-items: flex-end;

        span {
            color: #fff;
            font-weight: 700;
            font-size: 45px;
            margin-bottom: 1rem;
            opacity: 0;
        }
    }
}

/* --------------- End of Hero ---------------- */
/* --------------- Testimonials ---------------- */
.carousel-indicators {
    bottom: -2.5em;

    .active {
        background-color: var(--primaryColor600) !important;
    }

    button {
        background-color: var(--grey-55) !important;
        height: .5em !important;
        width: .5em !important;
        border-radius: 50%;
    }
}

.testimonio-header {
    display: flex;
    align-content: center;

    img {
        object-fit: cover;
        height: 56px;
        width: 56px;
        border-radius: 50%;
        border: 5px solid var(--primaryColor600);
    }

    .testimonio-header__text {
        margin-left: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            color: var(--primaryColor600);
            font-size: 14px;
            font-weight: 600;
        }

        .info {
            color: var(--grey-55);
            font-size: .875rem;
            font-weight: 400;
            margin: 0;
        }
    }
}

.testimonio {
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;
    height: 35vh;
    padding: .5rem;
}

/* ------------ End of Testimonial ------------- */
/*---------- botón Donar -------------------- */
.donar-btn {
    cursor: pointer;
    color: var(--primaryColor50);
    background: var(--primaryColor600);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.4rem 1.3rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    display: inline-block;
}

.donar-btn:hover {
    background: var(--primaryColorHover);
    box-shadow: var(--shadow-3);
}

/*---------- end of botón Donar -------------------- */

@import './navbar';
@import './main';
@import './news';
@import './sponsors';
@import './queHacemos';
@import './voluntariado';
@import './sidebar';
@import './footer';
@import './mediaQuerys';
@import './nosotras';
@import './contacto';
@import './donaciones';
@import './empresas';
@import './novedades';
@import './floating_button';